.header{
    min-height: 60vh;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.header-bg-image{
    background: url(../movieimg/Flixnet.jpg);
    background-size: cover;
    background-position: center center;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
    overflow: hidden;
    
}

/* Apply the gradient and opacity to the background */

.header-bg-image::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.2) 100%);
}

.header-text{
    max-width: 450px;
    text-align: center;
    padding: 0 1rem;
}

.header-text-title{
    margin-bottom: 1rem;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);

}

.header-text p {
    text-shadow: 0 2px 5px rgba(0,0,0,0.25);
}



/* Gradients on the top of the banner to make the icons more visible */

.gradient-top{
    height: 4.4rem;
    background-image: linear-gradient(
        0deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
    
    position: absolute;
    top: -0.2rem;
    left: 0;
    width: 100%;
}


/* Media Queries */

@media screen and (min-width: 1500px) {
    .header-bg-image{
        background-size: contain;
    }

}


@media screen and (max-width: 1280px) {
    .header-bg-image{
        background-size: cover;
    }

}


@media screen and (max-width: 680px) {
    .header-bg-image{
        background-size: cover;

    }
    .header{
        min-height: 40vh;
    }

}



