.moviedetails-content-info{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}

.line{
    border-top: 1px var(--color-white);
    opacity: .5;
}

.movie-tags{
    display: flex;
    gap: 1rem;
}

@media screen and (min-width: 2000px) {
    .moviedetails-content-info{
        max-width: 50%;
    }
}