.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.brand{
    width: 150px;
    height: 30px;
    
}

.user-icon{
    width: 35px;
    height: 35px;
}

.brand img , .user-icon img{
    width: 100%;
    height: 100%;
    
}



@media screen and (max-width: 680px) {
    .brand{
        width: 130px;
        height: 25px;
        cursor: pointer;
    }
    
    .user-icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}